@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7C3AED;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7C3AED;
  border-radius: 10px;
}